<div>
  <nav>
    <p>
      <a href="/all_assignments">View All Assignments</a>
    </p>
    <p>
      <a href="/all_collaborators">View All Collaborators</a>
    </p>
    <p>
      <a href="/all_links">View All Assignment Media</a>
    </p>
  </nav>
</div>
