<div>
  <nav>
    <p>
      <a href="/all_assignments">View All Assignments</a>
    </p>
    <p>
      <a href="/home">Home</a>
    </p>
  </nav>
</div>

<div>
  <h2>Select an assignment to delete a link from:</h2>
  <% Assignment.all.each do |assignment| %>
  <ul>
    <li>
      <a href="/delete_link/<%= assignment.id %>">
        <%= assignment.name %></a> - <%= assignment.description %>: <%= assignment.where_stored %>
    </li>
  </ul>
  <% end %>
</div>
