<div>
  <nav>
    <p>
      <a href="/all_assignments">View All Assignments</a>
    </p>
    <p>
      <a href="/edit_assignment">Edit Assignment Information</a>
    </p>
    <p>
      <a href="/delete_assignment">Delete an Assignment</a>
    </p>
  </nav>
</div>

<div>
  <% if @error %>
    <h2>Cannot add assignment - Missing information</h2>
  <% end %>
</div>

<div id="add_new_assignment_form">
  <h2>Add a new assignment</h2>
<% if  @add_from_api %>
  <form action="/api/create_assignment" id="form_action">
<% else %>
  <form action="/save_new_assignment">
<% end %>
    <h3>Name</h3>
    <input type="text" name="assignments[name]" id="assignments_name" placeholder="Assignment Name">
    <h3>Description</h3>
    <input type="text" name="assignments[description]" placeholder="Assignment Description">
    <h3>Link to Assignment</h3>
    <input type="text" name="assignments[where_stored]" placeholder="Link to Assignment"><br>
    <% if  @add_from_api %>
      <input type="submit" id="use_api" value="~submit~">
    <% else %>
      <input type="submit">
    <% end %>
  </form>
</div>

<div id="success">

</div>
