<div>
  <nav>
    <p>
      <a href="/home">Home</a>
    </p>
    <p>
      <a href="/add_assignment">Add New Assignment</a>
    </p>
    <p>
      <a href="/edit_assignment">Edit Assignment Information</a>
    </p>
    <p>
      <a href="/delete_assignment">Delete an Assignment</a>
    </p>
  </nav>
</div>

<div>
  <h2>Assignments:</h2>
  <% Assignment.all.each do |assignment| %>
  <ul>
    <li><a href="/all_assignments/<%= assignment.id %>">
      <%= assignment.name %></a> - <%= assignment.description %>: <%= assignment.where_stored %>
    </li>
  </ul>
  <% end %>
</div>
