<div>
  <nav>
    <p>
      <a href="/all_assignments">View All Assignments</a>
    </p>
  </nav>
</div>

<div>
  <h2><%= @selected_assignment.name %></h2>
  <ul>
    <li>
      Description: <%= @selected_assignment.description %>
    </li>
    <li>
      Link to Assignment: <%= @selected_assignment.where_stored %>
    </li>
  </ul>

  <a href="/add_collaborator">Add a collaborator for this assignment</a><br>
  <a href="/add_link">Add a link to media associated with this assignment</a>
</div>
