<div>
  <nav>
    <p>
      <a href="/all_collaborators">View All Collaborators</a>
    </p>
    <p>
      <a href="/home">Return Home</a>
    </p>
  </nav>
</div>

<div>
  <% if @error %>
    <h2>Cannot add collaborator - Missing information</h2>
  <% end %>
</div>

<div>
  <h2>Add a new collaborator</h2>
  <form action="/save_new_collaborator">
    <h3>Name (if user doesn't exist yet, add them first <a href="/add_user">here</a>.)</h3>
    <select name="collaborators[user_id]">
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>
    <h3>Associated Assignment</h3>
    <select name="collaborators[assignment_id]">
      <% Assignment.all.each do |assignment| %>
        <option value="<%= assignment.id %>"><%= assignment.name %></option>
      <% end %>
    </select>
    <input type="submit">
  </form>
</div>
